body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

select {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.grid-item {
  background-color: #f8f9fa; 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
  background-color: #e9ecef;
  transform: scale(1.05); 
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#continentDropdown{
  transition: background-color 0.3s ease;
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
  img {
    width: 100%;
    height: auto;
  }
}